/* 
css/style.css
A. Chen
Created: 2025-03-05
Updated: 2025-03-08

Contains styling for the main page and components.
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* colors */
.bg-light-pink{
    background-color: #fdf0fe;
}

.section-title-bg{
    background-color: #E59EDD;
}

.bg-offcanvas {
    background-color: #fdf0fe !important; /* Use !important to override Bootstrap styles*/
}

.bg-light-purple {
    background-color: #fee7ff;
}

.bg-dark-purple {
    background-color: #7e0080;
}

.dark-purple {
    color: #7e0080;
}



/* my menu icon */
.navbar-toggler-icon {
    background-image: url('../icons/menu-icon.svg'); 
    background-repeat: no-repeat; /* Prevent the icon from repeating like default background img*/
}

/* Remove focus shadow for the navbar toggler button */
.navbar-toggler:focus {
    box-shadow: none;
}

/* My floating profile icon*/
.profile-icon {
    opacity: 0.96;
    border: none;
    background: none;
    padding-right: 15px;
}

.profile-icon img {
    width: 30px;
    height: 30px;
}

/* profile icon on larger screens */
@media (min-width: 992px) {
    .profile-icon {
        opacity: 0.9;
    }
    .profile-icon:hover {
        opacity: 1; /* Fully opaque on hover */
    }
}

/* Contact buttons */
.contact-icon{
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center the content */
    padding: clamp(5px, 0.2rem, 10px);
    border-width: 0.2rem;
}

.contact-icon img {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Align the image vertically */
    margin: 0;
}

.github-icon{
    color: #111111;
    border-color: #d1d0d0;
    background-color: #ffffff;
}

.linkedin-icon{
    color: #0b2950;
    background-color: #f7fbff;
    border-color: #98bdf5;
}

.email-icon{
    color: #3d0101;
    background-color: #fdfdfc;
    border-color: #f5a573;
}




/* My info icon for tooltip */
.info-icon {
    border: none;
    background: none;
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center the content */
    padding: 0 0.3rem 0.2rem 0.3rem;
}

.info-icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Align the image vertically */
}

/* Info btn with text for tooltip */
.info-btn {
    font-size: 1rem;
    background-color: #973699;
    color: #fdf0fe;
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center the content */
    padding: 0 0.3rem 0.1rem; 
}

/* Fixed menu section on larger screens */
@media (min-width: 992px) {
    .fixed-menu {
        position: sticky;
        top: 55px;
        max-height: calc(100vh - 55px); /* Maximum height to allow scrolling if content overflows */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        padding: 0;
    }


    #fixed-menu-list .list-group-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem 1rem; 
        font-size: 1rem;
    }

    #fixed-menu-list .list-group-item a {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* Set minimum and maximum widths for the offcanvas section */
.offcanvas-lg.offcanvas-start {
    min-width: 160px; /* Minimum width for the offcanvas */
    max-width: 350px; /* Maximum width for the offcanvas */
}

/* Control the size and color of the card */
.fixed-menu .card {
    width: 70%; /* Default width */
    max-width: 90%; /* Maximum width as a percentage */
    min-width: 140px; /* Minimum width in pixels */
    max-width: 230px; /* Maximum width in pixels (will override 90% if 90% is bigger) */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0;
    border-color: #e59edd;
}

.menu-card-header {
    font-size: 1.3rem;
    background-color: #ffe1fcce;
    color: #630e54;
    border: none;
}

/* Card text size */
/* Ensure the button text shrinks if it won't fit in one line */
#fixed-menu-list .list-group-item {
    font-size: 1rem; /* Default font size */

}

/* Card text size - Smaller font size for smaller screens */
@media (max-width: 991.98px) {
    #fixed-menu-list .list-group-item {
        font-size: 0.875rem; 
    }
}

/* (fixed menu) Scrollspy Active Link Styles */
.list-group-item.active {
    background-color: #a33da5;
    color: #fff3ff; 
    border-color: #944a95;
}


  
  
  



