/* 
css/style.css
A. Chen
Created: 2025-03-05
Updated: 2025-03-08

Contains styling for the main page and components.
*/

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* colors */
.bg-light-pink{
    background-color: #f6f0fe;
}

.section-title-bg{
    background-color: #ba9ee5;
}

.bg-offcanvas {
    background-color: #f7f0fe !important; /* Use !important to override Bootstrap styles*/
}

.bg-light-purple {
    background-color: #f3e7ff;
}

.bg-dark-purple {
    background-color: #530080;
}

.dark-purple {
    color: #3e0080;
}

.light-pink{
    color: #fdf0fe;
}


/* my menu icon */
.navbar-toggler-icon {
    background-image: url('../icons/menu-icon.svg'); 
    background-repeat: no-repeat; /* Prevent the icon from repeating like default background img*/
}

/* Remove focus shadow for the navbar toggler button */
.navbar-toggler:focus {
    box-shadow: none;
}

/* My floating profile icon*/
.profile-icon {
    border: none;
    background: none;
    padding-right: 13px;
}

.profile-icon img {
    width: 33px;
    height: 33px;
}

.profile-icon img:hover {
    border-radius: 50%;
    background-color: #ffe44b;
}


/* Contact buttons */
.contact-icon{
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center the content */
    padding: clamp(5px, 0.2rem, 10px);
    border-width: 0.2rem;
}

.contact-icon img {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Align the image vertically */
    margin: 0;
}

.github-icon{
    color: #111111;
    border-color: #d1d0d0;
    background-color: #ffffff;
}

.linkedin-icon{
    color: #0b2950;
    background-color: #f7fbff;
    border-color: #98bdf5;
}

.email-icon{
    color: #3d0101;
    background-color: #fdfdfc;
    border-color: #f5a573;
}

/* Learn more btn */
.learn-more-btn {
    background-color: #f1e4ff;
    color: #3f0d71;
    border-color: #8725d8;
}

/* Filter Icon (div) */
.sticky-filter-icon {
    position: sticky; /* Keeps it fixed on the screen */
    top: 30px; /* Adjust distance from the top of the screen */
    z-index: 1000; /* Keeps it above other elements */
    margin-right: 7px;
}

/* filter icon btns */
.filter-icon-btn {
    position: relative;
    top: 30px;
    background-color: #f8f0ff;
    border-color: #5f31a8;
    border-width: 0.2rem;
}

.filter-icon-btn img{
    width: 35px;
    height: 35px;
}

.filter-icon-btn:hover {
    background-color: #fff4dd; /* Darker shade for hover effect */
    border-color: #6c27c7;
}

/* filter buttons */
.filter-btn {
    background-color: #f3e6ff;
    color: #4509a7;
    border-color: #6c27c7;
    margin: 0.3rem 0.1rem; /* Adjust the value as needed */
}

.filter-btn a{
    all: unset; /* Resets all inherited styles for the <a> tag */
    display: inline; /* Optionally set the default display property */
    color: inherit; /* Make the link use the text color of its parent */
    text-decoration: none; /* Remove underlines */
}

.filter-btn:hover {
    background-color: #8d35e0;
    color: #faf7ff;
    border-color: #fff2ddf8;
    margin: 0.3rem 0.1rem; /* Adjust the value as needed */
}

.filter-btn.active {
    background-color: #781bbf;
    color: #faf4ff;
    border-color: #ca84ff51;
}
  


/* My info icon for tooltip */
.info-icon {
    border: none;
    background: none;
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center the content */
    padding: 0 0.3rem 0.2rem 0.3rem;
}

.info-icon img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Align the image vertically */
}

/* Info btn with text for tooltip */
.info-btn {
    font-size: 1rem;
    background-color: #643699;
    color: #f7f0fe;
    display: inline-flex; /* Ensure proper alignment */
    align-items: center; /* Vertically center the content */
    padding: 0 0.3rem 0.1rem; 
}



/* Fixed menu section on larger screens */
@media (min-width: 992px) {
    .fixed-menu {
        position: sticky;
        top: 55px;
        max-height: calc(100vh - 55px); /* Maximum height to allow scrolling if content overflows */
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        padding: 0;
    }


    #fixed-menu-list .list-group-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem 1rem; 
        font-size: 1rem;
    }

    #fixed-menu-list .list-group-item a {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* Set minimum and maximum widths for the offcanvas section */
.offcanvas-lg.offcanvas-start {
    min-width: 160px; /* Minimum width for the offcanvas */
    max-width: 350px; /* Maximum width for the offcanvas */
}

/* Control the size and color of the card */
.fixed-menu .card {
    width: 70%; /* Default width */
    max-width: 90%; /* Maximum width as a percentage */
    min-width: 140px; /* Minimum width in pixels */
    max-width: 230px; /* Maximum width in pixels (will override 90% if 90% is bigger) */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0;
    border-color: #c49ee5;
}

.menu-card-header {
    font-size: 1.3rem;
    background-color: #eee1ffce;
    color: #370e63;
    border: none;
}

/* Card text size */
/* Ensure the button text shrinks if it won't fit in one line */
#fixed-menu-list .list-group-item {
    font-size: 1rem; /* Default font size */

}

/* Card text size - Smaller font size for smaller screens */
@media (max-width: 991.98px) {
    #fixed-menu-list .list-group-item {
        font-size: 0.875rem; 
    }
}

/* (fixed menu) Scrollspy Active Link Styles */
.list-group-item.active {
    background-color: #683da5;
    color: #faf3ff; 
    border-color: #724a95;
}


  /* ------------------------------------------ */




  